<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonin.common.mapper.DemoBMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sonin.common.module.demo.entity.DemoB">
        <id column="id" property="id"/>
        <result column="b_name" property="bName"/>
        <result column="a_id" property="aId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, b_name, a_id
    </sql>

</mapper>
