<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonin.common.mapper.DemoDMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sonin.common.modules.demo.entity.DemoD">
        <id column="id" property="id"/>
        <result column="d_name" property="dName"/>
        <result column="c_id" property="cId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, d_name, c_id
    </sql>

</mapper>
