<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonin.common.modules.common.mapper.CommonSqlMapper">

    <select id="queryForMap" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="queryForPage" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="queryForList" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <update id="update">
         ${sql}
    </update>

    <delete id="delete">
         ${sql}
    </delete>

</mapper>
